/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images/operator, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*! normalize.css v1.1.3 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */

p,
pre {
    margin: 1em 0;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */

q {
    quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */

q:before,
q:after {
    content: '';
    content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */

/**
 * Address margins set differently in IE 6/7.
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */


/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ==========================================================================
   Page
   ========================================================================== */

body,
html {
    height: 100%;
}

.page_wrap {
    background: #232323;
    height: auto !important;
    min-height: 100%;
    min-width: 960px;
    overflow-x: hidden;
}

.header {
    background: url(../images/operator/header-bg.png) repeat-x;
    min-width: 960px;
}

.header_inner {
    width: 950px;
    margin: 0 auto;
    position: relative;
}

.header_inner:after {
    clear: both;
    display: block;
    content: "";
}

.logo {
    float: left;
    margin: 5px 7px 11px 0;
}

.logo a {
    display: block;
    background: url(../images/operator/logo.png) no-repeat;
    width: 123px;
    height: 80px;
    text-decoration: none;
    color: transparent;
    font: 0/0 sans-serif;
}

.header_inner .location_info {
    border-left: 1px solid #989898;
    padding: 10px 10px 0;
    float: left;
    margin-top: 19px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 137px;
    height: 63px;
    white-space: nowrap;
}

.location_info {
    font: 17px/16px "Arabic Typesetting";
    color: #171717;
    text-transform: uppercase;
    text-align: center;
}

.location_info span {
    color: #171717;
    display: block;
    font: 18px/19px "Roboto";
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.location_info big {
    font-size: 27px;
    font-weight: bold;
    line-height: 18px;
}

.main-navigation {
    float: right;
    margin-top: 6px;
    width: 679px;
}

.navigation {
    clear: right;
    float: right;
}

.navigation ul {
    margin: 0;
    padding: 8px 6px 0 0;
}

.navigation li {
    float: left;
    border-right: 1px solid #989898;
    position: relative;
}

.navigation li:first-child a {
    padding-left: 0;
}

.navigation li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #232323;
    padding: 0 23px;
    font: bold 14px/23px "Roboto";
}

.navigation .__last {
    border-right: 0 none;
}

.navigation .__active a {
    color: #57b6ff;
}

.requests-count {
    background: #ff4343;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    color: #ffffff;
    font: bold  14px/22px "Roboto";
    position: absolute;
    top: -12px;
    right: 6px;
    text-align: center;
}

.search-form {
    width: 180px;
    float: right;
}

.search-form_inner {
    position: relative;
}

.btn-field {
    position: absolute;
    top: 4px;
    right: 10px;
}

.search-form .text-field {
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    padding: 0 35px 0 10px;
    width: 180px;
    height: 26px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 13px "Roboto";
}

.search-btn {
    background: url(../images/operator/main-sprite.png) -45px -5px no-repeat;
    width: 19px;
    height: 15px;
    color: transparent;
    font: 0/0 sans-serif;
    display: block;
    border: 0 none;
    padding: 0;
}

.page {
    width: 950px;
    margin: 0 auto;
    position: relative;
}

.sidebar {
    width: 268px;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
}

.category {
    background: #e7e7e7;
    border-radius: 4px;
    margin-bottom: 10px;
}

.category_head {
    background: url(../images/operator/grey-gradient-bg.png) repeat-x;
    padding: 0 46px 0 36px;
    position: relative;
    border-radius: 0 0 4px 4px
}

.category_head {
    border-radius: 0;
}

.category_head h4 {
    margin: 0;
    font: 500 14px/35px "Roboto";
    height: 35px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.category-toggle {
    position: absolute;
    right: 19px;
    top: 14px;
    height: 6px;
    width: 12px;
    background: url(../images/operator/main-sprite.png) -26px -2px no-repeat;
}

.category-toggle:hover {
    cursor: pointer;
}

.category_body {
    width: 268px;
    display: none;
    position: absolute;
    background: #E7E7E7;
    border-radius: 0 0 4px 4px;
}

.category_content {
    padding: 6px 46px 35px 42px;
}

.category_content .buttons-inline {
    margin-bottom: 30px;
}

.buttons-inline:after {
    clear: both;
    display: block;
    content: "";
}

.buttons-inline .button {
    float: left;
}

.buttons-inline .button.__last {
    margin: 0;
    float: right;
}

.button.__light-grey.__selected {
    background: url(../images/operator/blue-gradient-bg.png) repeat-x;
    color: #ffffff;
    border-color: #97c9f0;
}

.button.__light-grey.__selected:hover {
    cursor: default;
}

.button.__light-grey:hover {
    background: url(../images/operator/blue-gradient-bg.png) repeat-x;
    color: #ffffff;
    border-color: #97c9f0;
}

.button.__light-grey {
    background: url(../images/operator/light-grey-gradient-bg.png) repeat-x;
}

.button {
    height: 36px;
    font: bold 15px "Roboto";
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #dfdfdf;
    color: #171717;
}

.button.__medium {
    width: 79px;
}

a.button {
    line-height: 36px;
    text-align: center;
    display: inline-block;
}

.category_list {
    padding: 0;
    margin: 0;
}

.category_list li {
    list-style: none;
}

.category_list li a {
    color: #232323;
    font: 500 13px/30px "Roboto";
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.category_list .__selected a {
    color: #57b6ff;
}

.filter-action {
    color: #ffffff;
    font: 500 13px "Roboto";
    text-decoration: none;
    display: block;
    text-align: right;
    padding-right: 18px;
    margin-bottom: 20px;
    
}

.cancel-ic {
    background: url(../images/operator/main-sprite.png) -66px -27px no-repeat;
    width: 11px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
}

.cancel-ic.__black {
    width: 9px;
    height: 9px;
    background-position: -28px -14px;
    float: right;
    margin: 9px 0 0 0;
}

.filter-form_items {
    padding: 0;
    margin: 0 -1.7px;
}

.filter-form_items li {
    float: left;
    list-style: none;
    margin: 0 2.5px 15px 2.5px;
}

.filter-form_items a {
    background: #e7e7e7;
    width: 57px;
    height: 26px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 8px 0 6px;
    white-space: nowrap;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font: 500 13px/26px "Roboto";
    color: #232323;
}

.filter-form {
    margin-bottom: 24px;
}

.filter-form .text-field {
    height: 34px;
    width: 165px;
    padding: 0 12px;
    font: 13px "Roboto";
    color: #232323;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-right: 4px;
}

.filter-form .button {
    height: 34px;
    font: 13px "Roboto";
    color: #232323;
    border-radius: 4px;
    padding: 0 32px;
}

.main {
    width: 844px;
    margin-left: 268px;
    position: relative;
    top: -29px;
    z-index: 1;
    overflow: hidden;
}

.main:before {
    border-left: 1px solid #989898;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 29px;
    z-index: 1;
}

.main-table {
    width: 100%;
    position: relative;
}

.main-table_row {
    border-bottom: 1px solid #515151;
}

.main-table_head th {
    color: #232323;
    font: 500 13px/13px "Roboto";
    padding: 8px 0;
    background: #cccccc;
    white-space: nowrap;
}

.main-table_head .__first {
    border-radius: 5px 0 0 0;
    padding-left: 52px;
    text-align: left;
}

.main-table_head .__last {
    padding-right: 160px;
}

.table_t.__style-1 {
    width: 194px;
}

.table_t.__style-2 {
    width: 176px;
}

.table_t.__style-3 {
    width: 47px;
}

.table_t.__style-4 {
    width: 74px;
}

.table_t.__style-5 {
    width: 83px;
}


.main-table_cell {
    padding-right: 160px;
    padding-left: 19px;
}

.inner-table {
    width: 100%;
}

.inner-table td {
    color: #ffffff;
    font: 500 13px "Roboto";
    padding: 19px 0;
    text-align: center;
    cursor: pointer;
}

.inner-table .field {
    text-align: left;
}

.inner-table_cell {
    position: relative;
}

.inner-table_cell.__style-1 {
    width: 195px;
}

.inner-table_cell.__style-2 {
    width: 83px;
}

.inner-table_cell.__style-3 {
    width: 140px;
}

.inner-table_cell.__style-4 {
    width: 73px;
}

.inner-table_cell.__style-5 {
    width: 42px;
}

.request-info_inner {
    text-align: left !important;
}

.hide {
    display: none;
}

.label {
    position: relative;
    left: 34px;
    display: inline-block;
}

.label.__style-1 {
    color: #57b6ff;
}

.label.__style-2 {
    color: #bbbbbb;
}

.label_desc {
    display: block;
    color: #fff059;
}

.label_desc.__style-1 {
    color: #ff4343;
}

.label_desc.__style-2 {
    color: #bbbbbb;
}

.brand-checkbox {
    position: absolute;
    left: -30px;
    top: 0;
    height: 19px;
}

.brand-checkbox input {
    display: none;
}

.brand-checkbox input:checked + .checkbox-ic {
    background-position: -1px -22px;
}

.checkbox-ic {
    background: url(../images/operator/main-sprite.png) -1px -1px no-repeat;
    width: 19px;
    height: 19px;
    display: inline-block;
}

.personal-preferences-ic {
    background: url(../images/operator/main-sprite.png) -26px -28px no-repeat;
    width: 13px;
    height: 14px;
    display: inline-block;
    color: transparent;
    font: 0/0 sans-serif;
    vertical-align: middle;
}

.personal-preferences-ic:hover {
    cursor: pointer;
}

.ui-popup:before {
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #e7e7e7;
    content: "";
    position: absolute;
    top: -13px;
    right: 19px;
}

.ui-popup {
		position: absolute;					
    width: 205px;
    background: #e7e7e7;
    border-radius: 5px;
    z-index: 1;
    margin-left: -149px;
    margin-top: 16px;
    display: none;
}

.popup_inner {
    padding: 23px 13px;
}

.popup_inner dl {
    margin: 0 0 20px 0;
    text-align: left;
}

.popup_inner dl.__inline dt,
.popup_inner dl.__inline dd {
    display: inline;
}

.popup_inner dt {
    color: #232323;
    font: 700 13px "Roboto";
    text-transform: uppercase;
}

.popup_inner dd {
    color: #232323;
    font: 400 13px "Roboto";
    margin: 0;
}

.edit-ic {
    background: url(../images/operator/main-sprite.png) -47px -28px no-repeat;
    width: 9px;
    height: 13px;
    display: inline-block;
    color: transparent;
    font: 0/0 sans-serif;
    vertical-align: middle;
}

.edit-ic:hover {
    cursor: pointer;
}

.popup_inner .field {
    margin-bottom: 17px;
}

.popup_inner .field-label {
    margin-bottom: 10px;
}

.popup_inner .field-label label {
    color: #232323;
    font: 700 13px "Roboto";
    text-transform: uppercase;
}

.popup_inner .field-content input {
    color: #232323;
    font: 400 13px "Roboto";
    border: 1px solid #c7c7c7;
    height: 36px;
    width: 180px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 9px;
}

.button.__black {
    background: url(../images/operator/black-button-bg.png) repeat-x;
    padding: 0 28px;
    color: #ffffff;
    font: 700 14px "Roboto";
    border-radius: 5px;
    border: 1px solid #dfdfdf;
}

.button.__black:hover {
    background: url(../images/operator/black-button-hover-bg.png) repeat-x;
}
.button.__black:active {
    background: url(../images/operator/black-button-active-bg.png) repeat-x;
}

.time_desc {
    display: block;
}

.time.__style-1 {
    color: #bbbbbb;
}

.request-info_ctn {
    padding-left: 33px;
}

.request-options {
    margin-bottom: 30px;
}

.request-options dl {
    margin: 0;
    font: 500 13px/18px "Roboto";
}

.request-options dt {
    display: inline;
    color: #bbbbbb;
}

.request-options dd {
    display: inline;
    margin: 0;
    color: #ffffff;
}

.comments {
    padding: 0;
    margin: 0 0 15px 0;
}

.comments li {
    list-style: none;
    margin-bottom: 15px;
}

.comment .info {
    font: 700 13px "Roboto";
    color: #ffffff;
} 

.comment .info.operator {
    color: #57b6ff;
}

.comment .message {
    font: 500 13px "Roboto";
    color: #ffffff;
}

.message-form .text-field {
    width: 408px;
    height: 34px;
    border: 1px solid #c2c2c2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    background: #ffffff;
    border-radius: 4px;
    font: 13px "Roboto";
    float: left;
    margin-right: 6px;
}

.message-form .button {
    padding: 0 27px 0 29px;
    height: 34px;
}

.send-option {
    float: right;
}

.send-option .brand-checkbox {
    top: 8px;
}

.send-option .label {
    padding-left: 28px;
}

.lt-ie9 .search-form .text-field {
    line-height: 26px;
}

.lt-ie9 .filter-form .text-field,
.lt-ie9 .message-form .text-field,
.lt-ie9 .popup_inner .field-content input{
    line-height: 36px;
}

.lt-ie9 .brand-checkbox input {
    display: block;
}

.lt-ie9 .checkbox-ic {
    display: none;
}